body {
    background-color: #101010;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px
}

#home-banner {
    display: block;

    max-width: 60%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-bar {
    display: flex;
    width: 80%;
    max-width: calc(100% - 24vw);
    margin: 7vw auto;
}

.nav-link {
    flex: 1 1 20%;
    text-align: center;

    font-size: calc(8px + 1vw);
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #c3bacf;
}

#current-nav-link {
    color: #1cd78f;
    font-weight: bold;
}